<!DOCTYPE html>
<html>
    <head>   
      <title>Hello Page</title>
    </head>
    <body>
        <h1>All Tasks</h1>
        <a href="{{ url_for('Tasks')}}">Add New Task<a/>
        <ul>
          {%  for tasks in tasks  %}
          <li>
            <strong>Title:</strong> {{  tasks.title  }}<br>
            <strong>Descripton</strong> {{  task.description  }}<br>
            <form action="{{  url_for('update_task_status', task_id = task.id)  }}" method"post">
              <input type="checkbox" type="checkbox"name=" is_complete" value="1" {%  if task.is_complete  %}checked{%  endif  %} onchange = "this.form.submit()">
              <strong>Completed:</strong> <span>{  task.is_complete  }</span><br>
            </form>
          </li>
          {%  else  %}
          <li>No tasks found.</li>
          {% endfor %}
    </body> 
</html>